.manner-container {
  overflow-x: hidden;
  &__item {
    padding-bottom: 10px;
  }
  &_fix {
    position: fixed;
    top: 0;
  }
}

.manner {
  &_side {
    @include to(lg) {
      display: none;
    }
  }
}